<div class="row">
  <div class="col-md-8">
    <div *ngIf="selectedParty">
      <tile [party]="selectedParty"></tile>
    </div>
      <div class="row" *ngIf="selectedParty">
        <div class="col-md-6"><app-sentiments [party]="selectedParty"></app-sentiments></div>
        <div class="col-md-6"><app-mentions [party]="selectedParty"></app-mentions></div>
      </div>
    <ba-card cardTitle="Politiker der {{selectedParty}} auf Twitter">
      <politician-table [politicians]="politicians$"
                        (onNavigateToProfile)="navigateToProfile($event)"></politician-table>
    </ba-card>
  </div>
  <div class="col-md-4">
    <feed [selectedParty]="selectedParty"></feed>
  </div>
</div>
