<div class="row">
  <div class="col-md-8">
    <div *ngIf="politician">
      <tile [politicianId]="politician.twitterId"></tile>
    </div>
    <ba-card cardTitle="Statistik" class="col-xlg-6 col-xl-6">
      <div class="row" *ngIf="politician">
        <div class="col-md-6"><app-sentiments [politicianId]="politician.twitterId"></app-sentiments></div>
        <div class="col-md-6"><app-mentions [politicianId]="politician.twitterId"></app-mentions></div>
      </div>
    </ba-card>
    <ba-card class="col-xlg-6 col-lg-6" cardTitle="{{politician?.firstLastName}}">
      <profil [politicanModel]="politician"></profil>
    </ba-card>
  </div>
  <div class="col-md-4">
    <div *ngIf="politician">
      <ba-card cardTitle="Feed" baCardClass="large-card with-scroll feed-panel">
        <a class="twitter-timeline" href="https://twitter.com/{{politician?.twitterName}}"></a>
      </ba-card>
    </div>
  </div>
</div>
