<div class="svg-container">
  <svg id="svgId" currentScale="1" x="0" y="0" width="100%" height="100%" viewBox="0 0 929.4 646.2" preserveAspectRatio="none">
    <!-- One Point per Seat-->
       
    <g *ngFor="let seat of seats">
      <path
        class="seat"
        [attr.fill]="seat.colorCode"
        (click)="showPreview(seat.personId)"
        [attr.d]="seat.d"
      />
      </g>  
      </svg>
</div>


<!--
  (mouseenter)="onEvent($event)"
(mouseleave)="onEvent($event)"
(mousemove)="coordinates($event)"
<div>
  <p class="type">Type: {{event?.type}}</p>    
  <p>x: {{clientX}}, y: {{clientY}}</p>
  <p>personId: {{personId}}</p>
</div>
  (mousenter)="showPreview(seat.personId)"
(mouseleave)="hidePreview(seat.personId)"
  (click)="navigateToProfile(seat.personId);"
          //[attr.cx]="seat.cx" 
        [attr.cy]="seat.cy" 
        [attr.r]="10" 
svg.append("text")
.attr("x",0)
.attr("y",70)
.attr("font-family","FontAwesome")
.attr('font-size', function(d) { return '70px';} )
.text(function(d) { return '\uf083'; }); 
-->