<div class="svg-container">
  <svg id="svgId" currentScale="1" x="0" y="0" width="100%" height="100%" viewBox="0 0 929.4 646.2" preserveAspectRatio="none">
    <!-- One Point per Seat-->
       
    <g *ngFor="let seat of seats">
      <path
        [attr.class]="'margin' + ' ' + seat.twitterClass + ' ' + seat.activityClass + ' ' + seat.party"
        (click)="setSelectedSeat(seat)"
        [attr.d]="seat.d"
      />
      </g>  
      </svg>
</div>
<div *ngIf="selectedSeat !== undefined">
    <img src="https://www.parlament.ch/sitecollectionimages/profil/portrait-260/{{selectedSeat.number}}.jpg">
    <p>{{selectedSeat.name}}</p>
    <p>{{selectedSeat.twitterId}}</p>
    <p>{{selectedSeat.personId}}</p>
    <button (click)="navigateToProfile(selectedSeat.personId)" class="btn btn-default btn-with-icon btn-sm" type="button"><i class="ion-stats-bars"></i>Zum Profil</button>
  </div>