<div class="row pie-charts">

  <ba-card *ngFor="let tile of tiles" class="pie-chart-item-container col-xlg-4 col-lg-4 col-md- col-sm-12 col-12">

    <div class="pie-chart-item">
      <div class="description">
        <div translate>{{ tile.description }}</div>
        <div class="description-stats">{{ tile.stats }}</div>
      </div>
      <i class="chart-icon fa fa-{{tile.icon}} fa-5x"></i>
    </div>

  </ba-card>
  <ba-card class="pie-chart-item-container col-xlg-4 col-lg-4 col-md- col-sm-12 col-12">

    <div class="pie-chart-item">
      <div class="description trending">
        <div translate>Trending Today</div>
        <div *ngFor="let topic of trendingTopics">
          <div class="description-stats">{{topic}}</div>
        </div>
      </div>
      <i class="chart-icon fa fa-arrow-up fa-5x"></i>
    </div>

  </ba-card>
</div>
