
.form-control { border:none}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  margin: 15px;
  display: block;
  vertical-align: middle;
  max-width: 200px;
  height: auto;
  width: 100%;
}
