<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><span>Swiss-</span>Polytics</a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

  <div class="search">
    <i class="ion-ios-search-strong" (click)="startSearch($event)"></i>
    <ng2-completer class="completer-input"
                   [(ngModel)]="searchObject"
                   [datasource]="searchData"
                   [minSearchLength]="0"
                   [placeholder]="'Suche Politiker oder Partei'"
                   [matchClass]="'match'"
                   [autofocus]="true"
                   (selected)="startSearch()">
    </ng2-completer>
  </div>
</div>
