$btnColor: #90b900 !default@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

[type='radio'] {
  display: none;
}

.btn-group {
  padding-bottom: 0.5em;
}


.btn-success {
  background-color: #00abff;
  border-color: #648fe1;
}

.btn-success.active {
  background-color: #3b5998;
}

button.btn.btn-success {


}
