.SVP {
  fill: green;
}

.FDP {
  fill: blue;
}

.SP {
  fill: red;
}

.BDP {
  fill: yellow;
}

.CVP {
  fill: orangered;
}

.GLP {
  fill: greenyellow
}

.GPS {
  fill: purple;
}

.has-no-twitter-account {
  fill-opacity: 0;
}

.no-activity {
  fill-opacity: 0.2;
}

.low-activity {
  fill-opacity: 0.4;
}

.medium-activity {
  fill-opacity: 0.6;
}

.high-activity {
  fill-opacity: 0.9;
}

.margin {
  stroke: black;
  stroke-opacity: 0.8;
  stroke-width: 1pt;
}

img {
  max-height: 80px;
  max-width: 80px;
  margin: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.container {
  display: flex;
  flex-direction: column; // default row
  justify-content: center; // align along main axis
  align-items: center; // cross axis
}


#svgId {
  padding-top: 2px;
  padding-bottom: 2px;
}
