<ng-template #popContent>
  <div class="container" *ngIf="selectedSeat.personId > 0">
    <p>{{selectedSeat?.name}}</p>
    <div class="profile-img">
    <img src="https://www.parlament.ch/sitecollectionimages/profil/portrait-260/{{selectedSeat?.number}}.jpg">
    </div>
    <button class="btn btn-primary confirm-btn" (mousedown)="navigateToProfile()" >Profil</button>
  </div>

  <div class="container" *ngIf="selectedSeat.personId === '#NV'">
      <p>Leerer Sitz</p>
    </div>

</ng-template>
<div class="svg-container">
  <svg id="svgId" currentScale="1" x="0" y="0" width="100%" height="100%" preserveAspectRatio="none" [attr.viewBox]="viewbox">
    <g *ngFor="let seat of seats">
      <a tabindex="0"  triggers="focus:blur" container="body"
         [ngbPopover]="popContent" (click)="onSeatChange(seat)">
      <path [attr.class]="'margin' + ' ' + seat.twitterClass + ' ' + seat.activityClass + ' ' + seat.party" container="body" [attr.d]="seat.d" />
      </a>
    </g>
  </svg>
</div>

